:root {
  --ggp-rotation: 51deg;
}
.AQTDisplay {
  text-align: center;
  height:calc(100vh - 56px);
  width:100vw;
}

.AQTDisplay-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AQTDisplay-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AQTDisplay-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AQTDisplay-link {
  color: #61dafb;
}

.search-bar {
  width: 90vw;
}
.reticule {
  position:absolute;
  width:20px;
  height:20px;
  left:50%;
  top:50%;
  margin-top:0px;
  margin-left:0px;
  pointer-events: none;
}

.poi {
  width: 100%;
  height: 100%;
}

.poi-label {
  display: none;
}

.street-label {
  font-weight:bold;
  margin-top: -8px;
  margin-left: -4px;
  background-color: #8fc741;
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
  padding: 2px;
}

.ave-label {
  font-weight:bold;
  margin-top: -8px;
  margin-left: -4px;
  background-color: #5741c7;
  color: white;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
  padding: 2px;
}

.ggp-rotation {
  transform: rotate(var(--ggp-rotation));
}


.ggp-rotation.super-block-rotation-a {
  transform: rotate(0deg) rotate(var(--ggp-rotation));
}
.ggp-rotation.super-block-rotation-b {
  transform: rotate(90deg) rotate(var(--ggp-rotation));
}
.ggp-rotation.super-block-rotation-c {
  transform: rotate(270deg) rotate(var(--ggp-rotation));
}
.ggp-rotation.super-block-rotation-d {
  transform: rotate(180deg) rotate(var(--ggp-rotation));
}

.ggp-rotation.super-block-rotation-e {
  transform: rotate(90deg) rotate(var(--ggp-rotation));
}
.ggp-rotation.super-block-rotation-f {
  transform: rotate(180deg) rotate(var(--ggp-rotation));
}
.ggp-rotation.super-block-rotation-g {
  transform: rotate(0deg) rotate(var(--ggp-rotation));
}
.ggp-rotation.super-block-rotation-h {
  transform: rotate(270deg) rotate(var(--ggp-rotation));
}

.map-holder {
  height:100%;
  position:relative;
}

.modal {
  position: fixed;
  z-index: 1200;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  margin:auto;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_content {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.close {
  text-align:right;
}

.names-list {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    min-height: 15vh;
    max-height: 30vh;
    border-radius: 10px;
    border-width: 0;
    background-color: #f2f3f5;
    width: 100%;
    display: block;
    overflow:scroll;
}

.names-list li {
  line-height:1.5em;
  float:left;
  display:inline;
  width: 50%;
}


#openseadragon1 {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 0px;
  background-color: white;

}
.ocd-div {
  width:95vw;
  padding: 10px;
  height:60vh;
}
.popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.25);
}

.popup.up {
  bottom: 0; 
  -webkit-transition:   bottom 0.3s ease-out;
  -moz-transition: bottom 0.3s ease-out;
  -o-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
}

.popup.down {
  bottom: -100px;
  -webkit-transition:   bottom 0.3s ease-out;
  -moz-transition: bottom 0.3s ease-out;
  -o-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
}

.popup_content {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.info-content {
  padding-left: 3vw;
  background-color: white;
  position: absolute;
  width: 95vw;
  height: 100%;
  color: black;
  padding-top: 10vh;
  line-height: 1.5;
  padding-right: 3vw;
  opacity: 0.8;
}
.billboard {
  padding-left: 3vw;
  position: absolute;
  height: 100%;
  color: white;
  padding-top: 8vh;
  line-height: 1.5;
  padding-right: 3vw;
  opacity: 0.8;
}
.logo {
  right: 0;
  bottom: 1.5vh;
    position: absolute;
}



.panel-bg-1 {
  background-color:#ff000080;
  color: white;
}

.panel-bg-2 {
  background-color:#ff800080;
  color: white;
}

.panel-bg-3 {
  background-color:#e1ff0080;
  color: white;
}

.panel-bg-4 {
  background-color:#00ff2f80;
  color: white;
}

.panel-bg-5 {
  background-color:#0000ff80;
  color: white;
}

.panel-bg-6 {
  background-color:#aa00ff80;
  color: white;
}

.panel-bg-7 {
  background-color:#ff000080;
  color: lightBlue;
}

.panel-bg-8 {
  background-color:#00000080;
  color: #ffffff;
}



panel-bg-1 {
  background-color:rgba(255,0,0,0.5);
}

.MuiAutocomplete-groupLabel {
  background-color: red;
}
@keyframes AQTDisplay-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
